# --- Base de données & Config Sensible ---
config.php
.env
.env2
# --- Uploads (Médias des projets) ---
# On ignore TOUS les dossiers d'images pour ne pas polluer GitHub
img/projects/*
!img/projects/.gitkeep

# INDISPENSABLE : Ignorer les images dans le dossier public aussi !
public/img/projects/*
!public/img/projects/.gitkeep

# --- OS & IDE ---
.DS_Store
Thumbs.db
.vscode/
.idea/

# --- Dépendances ---
vendor/
node_modules/